In [ ]:
# !pip install mysql-connector

In [6]:
import mysql.connector #importing database
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "Classpython"
)
db = database.cursor()

ModuleNotFoundError: No module named 'mysql'

In [1]:
# selecting rows and view data
db.execute("select * from student")
result = db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined

In [2]:
db.execute("select sn,name,total,grade from student")
result = db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined

In [4]:
db.execute("select * from student WHERE grade = 'A' ")
result = db.fetchall()
for x in result:
    print(x)

ModuleNotFoundError: No module named 'mysql'

In [5]:
# insert data

SyntaxError: invalid syntax (<ipython-input-5-1c1d8e8b2f65>, line 1)