In [5]:
a = (1,2,3,4,5)
print(a[0])
print(a[0:1])
print(a[0:5:2])

1
(1,)
(1, 3, 5)

In [ ]:
# in tuple
# no create,update,delete

In [8]:
t = tuple()
c = int(input("Enter c = "))
for i in range(c):
    x = input("enter x = ")
    t = t + (x,)
print(t)

Enter c = 2
enter x = an
enter x = ay
('an', 'ay')

In [10]:
# sorted
a = (200,234,543,122)
print(sorted(a))
print(a)

[122, 200, 234, 543]
(200, 234, 543, 122)

In [11]:
# tuple into list
a = (200,234,543,122)
b = list(a)
print(b)

[200, 234, 543, 122]

In [13]:
a = (200,234,543,122) # tuple into list into tuple
a = list(a)
del a[0]
a = tuple(a)
print(a)

(234, 543, 122)

In [1]:
# dictionary
# here we use curly bracket
# ordered
# indexed
# multiple and duplicate values
# mutable

In [ ]:
d = {}
# d = dict{}
# d = {<key>:<value>,<key>:<value>,..........}

In [2]:
d = {'a':'apple','b':'ball','c':'cat'}
type(d)

dict

In [3]:
d = {'a':'apple','b':'ball','c':'cat'}
print(d['a'])
print(d['b'])
print(d['c'])

apple
ball
cat

In [4]:
d = {'a':'apple','b':'ball','c':'cat'}
print(d)
print(len(d))

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
3

In [6]:
d = {'a':'apple','b':'ball','c':'cat','a':'ant'}
print(d)

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [8]:
d={}
d['a']='apple'
d['b']='ball'
d['c']='cat'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [13]:
d={}
c = int(input("Enter c = "))
for i in range(c):
    name =input("Enter name = ")
    phone=input("Enter phone = ")
    d[name] = phone
print(d)

Enter c = 2
Enter name = anzila
Enter phone = 9865245957
Enter name = ayush
Enter phone = 9865000444
{'anzila': '9865245957', 'ayush': '9865000444'}

In [15]:
d = {'anzila': '9865245957', 'ayush': '9865000444'}
for i in d:
    print(i)

anzila
ayush

In [16]:
d = {'anzila': '9865245957', 'ayush': '9865000444'}
for i in d.values():
    print(i)

9865245957
9865000444

In [18]:
l = []
d = {'anzila': '9865245957', 'ayush': '9865000444'}
for i in d.items():
    l.append(i)
print(l)

[('anzila', '9865245957'), ('ayush', '9865000444')]

In [19]:
dict(l)

{'anzila': '9865245957', 'ayush': '9865000444'}

In [20]:
# update
d = {'anzila': '9865245957', 'ayush': '9865000444'}
d['anzila'] = '98765245278'
print(d)

{'anzila': '98765245278', 'ayush': '9865000444'}

In [21]:
# del pop()
d = {'anzila': '9865245957', 'ayush': '9865000444'}
e = d.pop('anzila')
print(d)
print(e)

{'ayush': '9865000444'}
9865245957

In [22]:
d = {'anzila': '9865245957', 'ayush': '9865000444'}
del d['anzila']
print(d)

{'ayush': '9865000444'}

list inside dict

In [25]:
d = {'anzila': ['9865245957','9864736424'], 'ayush': ['9865000444','67364329847']}
print(d['anzila'])
print(d['anzila'][0])

['9865245957', '9864736424']
9865245957

In [1]:
d={}
c = int(input("Enter c = "))
for i in range(c):
    name =input("Enter name = ")
    ntc_phone =input("Enter ntc_phone = ")
    ncell_phone =input("Enter ncell_phone = ")
    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter c = 2
Enter name = anzila
Enter ntc_phone = 9865245957
Enter ncell_phone = 785849528395
Enter name = ayush gu
Enter ntc_phone = 9865000444
Enter ncell_phone = 74657458340
{'anzila': ['9865245957', '785849528395'], 'ayush gu': ['9865000444', '74657458340']}

In [3]:
d = {'anzila': ['9865245957','9864736424'], 'ayush': ['9865000444','67364329847']}
d['rozina'] = ['6547983287','75674839382']
d['anzila'][0] ='0887765545'
print(d)

{'anzila': ['0887765545', '9864736424'], 'ayush': ['9865000444', '67364329847'], 'rozina': ['6547983287', '75674839382']}

In [4]:
# d = {'sn':[1,2],
#      'product':['momo','coke'],
#      'price':[120,50],
#      'quantity':[2,4],
#      'total':[240,200]} #wap to create this structure

In [5]:
# dict inside list #wap to create this structure
l = [{'sn':1,'product':'momo','price':120,'quantity':2,'total':240},
     {'sn':2,'product':'coke','price':50,'quantity':4,'total':200}]
print(l[0])
print(l[0]['product'])

{'sn': 1, 'product': 'momo', 'price': 120, 'quantity': 2, 'total': 240}
momo

In [6]:
# dict inside dict
d = {1:{'product':'momo','price':120,'quantity':2,'total':240},
     2:{'product':'coke','price':50,'quantity':4,'total':200}}
print(d)

{1: {'product': 'momo', 'price': 120, 'quantity': 2, 'total': 240}, 2: {'product': 'coke', 'price': 50, 'quantity': 4, 'total': 200}}

In [3]:
bill={}
c = int(input("Enter c = "))
for i in range(1,c+1):
    name = input("Enter name = ")
    quantity = int(input("Enter quantity = "))
    price = int(input("Enter price = "))
    total= price*quantity
    bill[i] = {'product':name,'price':price,'quantity':quantity,'total':total}
print(bill)

Enter c = 2
Enter name = momo
Enter quantity = 2
Enter price = 120
Enter name = coke
Enter quantity = 50
Enter price = 5
{1: {'product': 'momo', 'price': 120, 'quantity': 2, 'total': 240}, 2: {'product': 'coke', 'price': 5, 'quantity': 50, 'total': 250}}

In [4]:
bill[1]['product'] = 'buff momo'
bill

{1: {'product': 'buff momo', 'price': 120, 'quantity': 2, 'total': 240},
 2: {'product': 'coke', 'price': 5, 'quantity': 50, 'total': 250}}

In [6]:
bill[3]={'product':'snacks','price':80,'quantity':1,'total':80}
bill

{1: {'product': 'buff momo', 'price': 120, 'quantity': 2, 'total': 240},
 2: {'product': 'coke', 'price': 5, 'quantity': 50, 'total': 250},
 3: {'product': 'snacks', 'price': 80, 'quantity': 1, 'total': 80}}

In [2]:
bill={'sn':[],'product':[],'price':[],'quantity':[],'total':[]}
c = int(input("Enter c = "))
for i in range(1,c+1):
    name = input("Enter name = ")
    quantity = int(input("Enter quantity = "))
    price = int(input("Enter price = "))
    total= price*quantity
    bill['sn'].append(i)
    bill['product'].append(name)
    bill['price'].append(price)
    bill['quantity'].append(quantity)
    bill['total'].append(total)
print(bill)

Enter c = 2
Enter name = momo
Enter quantity = 2
Enter price = 100
Enter name = fanta
Enter quantity = 2
Enter price = 50
{'sn': [1, 2], 'product': ['momo', 'fanta'], 'price': [100, 50], 'quantity': [2, 2], 'total': [200, 100]}

In [1]:
# dict inside list #wap to create this structure
# l = [{'sn':1,'product':'momo','price':120,'quantity':2,'total':240},
#      {'sn':2,'product':'coke','price':50,'quantity':4,'total':200}]
l = []
c = int(input("Enter c = "))
for i in range(1,c+1):
    name = input("Enter name = ")
    quantity = int(input("Enter quantity = "))
    price = int(input("Enter price = "))
    total= price*quantity
    d = {'sn':i,'product':name,'price':price,'quantity':quantity,'total':total}
    l.append(d)
print(l)

Enter c = 1
Enter name = momo
Enter quantity = 2
Enter price = 100
[{'sn': 1, 'product': 'momo', 'price': 100, 'quantity': 2, 'total': 200}]

In [3]:
d = {1:{'phyics':{'th':50,'pr':25}},
    2:{'chemistry':{'th':45,'pr':30}}}

In [4]:
# Set
# no indexing,duplicate values,unordered,mutable

In [5]:
s = {1,2,3,4,5}
a = {"apple","banana","cherry","dragonfruit"}
print(a)
print(s)

{'apple', 'dragonfruit', 'cherry', 'banana'}
{1, 2, 3, 4, 5}

In [6]:
a = {"apple","banana","cherry","dragonfruit"}
print(len(a))

4

In [7]:
a = {"apple","banana","cherry","dragonfruit"}
print(type(a))

<class 'set'>

In [9]:
a = set(("apple","banana","cherry","dragonfruit"))
print(a)

{'apple', 'dragonfruit', 'cherry', 'banana'}

In [11]:
a = {"apple","banana","cherry","dragonfruit"}
a.add("Apple")
print(a)

{'apple', 'banana', 'Apple', 'dragonfruit', 'cherry'}

In [13]:
a = {"apple","banana","cherry","dragonfruit"}
a.remove("apple")
print(a)

{'dragonfruit', 'cherry', 'banana'}

In [19]:
a = {"apple","banana","cherry","dragonfruit","apple"}
list(set(a))

['apple', 'dragonfruit', 'cherry', 'banana']

In [20]:
# set inside set isnot possible
s = {"apple","banana","cherry","dragonfruit",{1,2,3,4,5}}
print(s)

TypeError: unhashable type: 'set'

In [30]:
s= {}
a = []
b = ('1',)
c={'2',}
d={1:1}
print(type(s))
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [32]:
ms = {'ram','shyam','hari','radhika','sita','gita','anzila'}
an = {'ross','joey','chandler','monica','rachel','phoebe','anzila'}
print(ms.intersection(an))
print(an.union(ms))

{'anzila'}
{'monica', 'gita', 'phoebe', 'hari', 'sita', 'ram', 'chandler', 'shyam', 'rachel', 'ross', 'radhika', 'anzila', 'joey'}

In [34]:
ms = {'ram','shyam','hari','radhika','sita','gita','anzila'}
an = {'ross','joey','chandler','monica','rachel','phoebe','anzila'}
print(ms-an) #common bahek sabai hataidincha
print(an-ms)

{'gita', 'hari', 'sita', 'ram', 'radhika', 'shyam'}
{'monica', 'phoebe', 'chandler', 'ross', 'rachel', 'joey'}

In [37]:
U = {'abc','xyz','shyam','hari','chandler'}
ms = {'ram','shyam','hari','radhika','sita','gita','anzila'}
an = {'ross','joey','chandler','monica','rachel','phoebe','anzila'}
print(U-(an.union(ms)))

{'abc', 'xyz'}

In [43]:
# tuple inside dict or vice versa
d = {'anzila': ('9865245957','9864736424'),
     'ayush': ('9865000444','67364329847'),
     'apana':('978765654','9863000172')}

In [42]:
d = {('anzila,anzala'):'9865245957',
     'apana':('9863000172')}
print(d[('anzila,anzala')])

9865245957

In [1]:
# def <function_name>
#     <operations>
    
# <function_name>()

In [3]:
def hello(): #defined function
    print("Hello World")
    
hello() #call function 
hello() #dui choti call garna parda

Hello World
Hello World

In [1]:
def cal():
    l = int(input("Enter l = ")) #local variable
    b = int(input("Enter b = ")) #local variable
    h = int(input("Enter h = ")) #local variable
    v = l*b*h
    print(v)
cal()

Enter l = 2
Enter b = 3
Enter h = 4
24

In [5]:
l = int(input("Enter l = ")) #global variable
b = int(input("Enter b = ")) #global variable
h = int(input("Enter h = ")) #global variable
def cal():
    v = l*b*h
    print(v)
cal()

Enter l = 2
Enter b = 3
Enter h = 4
24

In [6]:
# function with no arguments and no return type
# function with arguments and no return type
# function with no arguments and return type
# function with arguments and return type

In [9]:
# function with arguments and no return type 
# argument
def hello(x):       #parameter -x
    print(x)
hello("Hello World")    #argument

Hello World

In [12]:
# function with arguments and no return type 
# argument
def hello(x,y):       #parameter -x,y
    print(x,y)
hello("Hello","World")    #argument

Hello World

In [13]:
def cal(x,y,z):
    v = x*y*z    #l,b,h nai lekhna parcha vanne chhaina diff lekhehuncha tara 2 ota variable cha vane duita rakhne
    print(v)     #ani j rakhecha tyo chai v ma same variable rakhna parcha 

l = int(input("Enter l = ")) 
b = int(input("Enter b = ")) 
h = int(input("Enter h = ")) 
cal(l,b,h)

Enter l = 2
Enter b = 3
Enter h = 4
24

In [17]:
def language (lan = "python"):
    print(lan)
language("php")  #python value vayeni pachi update gareko value suru ma dekhaucha rw python last ma print if empty bracket 
language()        #rakhyo vane rw as a default value display huncha

php
python

In [18]:
def area(l,b):
    a = l*b
    print(a)
def volume(l,b,h):
    v = l*b*h
    print(v)

l = int(input("Enter l = ")) 
b = int(input("Enter b = ")) 
h = int(input("Enter h = "))    

volume(l,b,h)
area(l,b)

Enter l = 2
Enter b = 3
Enter h = 4
24
6

In [20]:
# return type function but no arguments
def hello():           #hello() le def lai gayera call garcha rw tesle hello world return garcha tara 
    return "Hello World"    #if we use print(hello()) yesle chai return ma vayeko kura print gar vancha
print(hello())

Hello World

In [21]:
def hello():
    return "python"
print("Hello World i love",hello())

Hello World i love python

In [25]:
#return type also argument
def area(l,b):
    a = l*b
    return a

l = int(input("Enter l = ")) 
b = int(input("Enter b = ")) 
h = int(input("Enter h = "))    

ar = area(l,b)        #area le call garcha ani calulate gare j nih value aaucha a chai return gara ar ma vaneko 
print(ar)

volume = ar*h        #rw here tei value use garera hami le volume pani nikalchau
print("volume = ",volume)

Enter l = 2
Enter b = 3
Enter h = 4
6
volume =  24

In [4]:
#function inside function
def area(l,b):
    a = l*b
    return a
def volume(l,b,h):
    v = area(l,b)*h
    return v

l = int(input("Enter l = ")) 
b = int(input("Enter b = ")) 
h = int(input("Enter h = "))    
           
print("volume = ",volume(l,b,h))

Enter l = 2
Enter b = 3
Enter h = 4
volume =  24

In [28]:
#function with multiple arguments
def area(l,b):
    a = l*b
    return a
def volume(l,b,h):
    a = area(l,b)
    v = a*h
    return a,v

l = int(input("Enter l = ")) 
b = int(input("Enter b = ")) 
h = int(input("Enter h = "))    
           
x,y = volume(l,b,h)
print("area = ",x)
print("volume = ",y)

Enter l = 2
Enter b = 3
Enter h = 4
area =  6
volume =  24